<header class="app-header">
    <mat-toolbar>
        <img src="assets/imagens/logo.png">
        <span class="spacer"></span>   
        <div class="links-toolbar">
            <button mat-button>Vender milhas</button>
            <button mat-button>Sobre</button> 
            <ng-container *ngIf="user$ | async as pessoaUsuaria, else login">
                <a routerLink="/perfil"><img src="assets/icones/user.png" alt="Icone da pessoa usuaria" /></a>
                <button mat-stroked-button (click)="logout()">SAIR</button>
            </ng-container>
            <ng-template #login>
                <button mat-raised-button color="primary" routerLink="/cadastro">CADASTRE-SE</button>
                <button routerLink="/login" mat-stroked-button>LOGIN</button>
            </ng-template>
        </div>
    </mat-toolbar>
</header>